html,body{
	height: 100%;
}

#inicio{
	bottom: 0px;
display: inline-block;
	width: 100%;
	height: 30%;
	background: -moz-linear-gradient(-45deg, #1b577b 0%, #341a4a 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #1b577b 0%, #341a4a 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #1b577b 0%, #341a4a 100%);
  color:white;
}
.fontx10{
  font-size: 1.5em;
}
.menuhorizontal{
	background-color: #333;
    overflow: auto !important;
    white-space: nowrap !important;
}
div.menuhorizontal li{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
.margin-bottom-5{
  margin-bottom:1em;
}
.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

}
 .carta {
    display: inline-block;
    width: 80%;

  }
  .carta-categoria{
    display: inline-block;
    width: 40%;

  }
  .img-categoria{
    max-width: 95px !important;
  }
.color-cut{
	background-color: #17202f !important
}
.color-blue{
  color:blue;
}

.p5{
  padding: 2em;
}
.btn-block{
  width: 100%;
}

.modal-content{
  width: 100% !important;
}
.noshow{
  display: none;
}

.padding{
  padding: 2em;
}
.bottom{
    position: absolute !important;
    bottom: 0 !important;
    width: 85% !important;
}
